// Telemetry performance test case with JavaScript

repeats = 500

doctype 5
html
	head
		title= title
		link(rel='stylesheet', href=stylesheet)
		-if (requireScript)
			script(type='text/javascript', data-main=script, src='scripts/require-jquery.min.js')
		-else
			script(type='text/javascript', src=script)
		script(type="text/javascript").
			var html = document.getElementsByTagName('html')[0];
			html.setAttribute('class', 'js');

	body.no-js
		.dtx
			-while (repeats > 0)
				-var repeats = repeats - 1
				!{component}
